
<!DOCTYPE html>
<html>
<head>
		<!--Creating the Title of the page and referencing the static.css file -->
	<title>Adopt a Dog- New Jersey</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<!-- Setting the background color of the page-->
	<style>
		body {
			background-color: #ffffe0e8;
		}
	</style>
</head>
<body>	
	<div>
			<!--Creating the logo and menu items for the website-->
		<div class="container">
			<img src="{{ url_for('static', filename='logo.png') }}" alt="Website Logo">
				<div class="menu">
				<ul>
					<li><a href="{{ url_for('get_chart') }}" class="button">Chart</a></li>
					<li><a href="{{ url_for('get_info') }}" class="button">Dog Info</a></li>
					<li><a href="{{ url_for('get_map') }}" class="button">Map</a></li>
				</ul>
			
			</div>
		</div>
	</div>
	<div>
		 	<!--Setting the header of the page-->
		<div class="dog">
			<h1>Meet Some of our Adoptable Dogs!</h1>
		</div>
	</div>
			<!--Creating the boxes and adding pet images-->
	<div class="image-box">
		<img src="{{ url_for('static', filename='benji.jpeg') }}" alt="Image description">
		<div class="caption">
			<h2>Benji</h2>
			<p>Male / Young</p>
		</div>
	</div>

	<div class="image-box-2">
		<img src="{{ url_for('static', filename='crowley.jpeg') }}" alt="Image description">
		<div class="caption2">
			<h2>Crowley</h2>
			<p>Male / Puppy</p>
		</div>
	</div>

	<div class="image-box-3">
		<img src="{{ url_for('static', filename='pancake.jpeg') }}" alt="Image description">
		<div class="caption3">
			<h2>Pancake</h2>
			<p>Female / Puppy</p>
		</div>
	</div>

	
		<!-- Creating the footer and links -->
	<div class="footer">
		<div class="col-1">
			<h3>Useful Links</h3>
			<a href="https://secure.aspca.org/donate/ps-gn-p2?ms=MP_PMK_Googlenonbrandbroad&initialms=MP_PMK_Googlenonbrandbroad&pcode=WPSP2GO2PK01&lpcode=WPSP2GO1PK01&test&gad=1&gclid=CjwKCAjwov6hBhBsEiwAvrvN6FkcFUjpVziHM_hQbpp3s5MYb7qM8JyFd0YsY_9Az-qiuIbK5AV-dBoCF4MQAvD_BwE&gclsrc=aw.ds">Dontate</a>
			<a href="https://pawsforcompassion.org/about/?gclid=CjwKCAjwov6hBhBsEiwAvrvN6PtTuGJFXwaZWUPzgavAkaL3nmCouih1hlr_fBwIAThghD4Ni6LNCBoCZ5gQAvD_BwE">Volunteer</a>
			<a href=https://www.petsmart.com/dog/>PetSmart</a>
		</div>
			
	</div>

</body>
</html>
