*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 0;
    flex-wrap: wrap;
    
  }
  
.container img {
    width: 30%; 
    height: auto; 
    position: absolute; 
    top: -120px; 
    left: 100px; 
    margin-top: 0;
    flex-wrap: wrap;
  }

#myChart {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;

  }

  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color:blueviolet;
  }

.menu{
    flex: 1;
    text-align: right;
}

.menu ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    margin-right: 20px;
    margin-top: 50px;
}

.menu ul li a{
    color:cornflowerblue;
    text-decoration: none;
    font-size: 40;
}
.dog {
    text-align: center;
    margin-top: 150px;
    color: blueviolet;
  }
.image-box {
    border: 3px solid #ccc;
    padding: 10px;
    text-align: center;
    max-width: 300px;
    float:right;
    margin-right: 135px;
    margin-top: 16px;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  img {
    max-width: 100%;
    height: 300px;
  }
  
 .caption h2 {
    margin-top: 12px;
    font-style: italic;
    color: blueviolet;
  }
  .caption p{
    color: #bbbbbb;
    margin-top: 10px;
    font-size: 15px;
    
  }
  
  .image-box-2 {
    border: 3px solid #ccc;
    padding: 10px;
    text-align: center;
    max-width: 300px; 
    float: left;
    margin-left: 135px; 
    margin-top: 16px;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  
  img {
    max-width: 100%;
    height: 300px;
  }
  
  .caption2 h2{
    margin-top: 12px;
    font-style: italic;
    color: blueviolet
  }
  .caption2 p{
    color: #bbbbbb;
    margin-top: 10px;
    font-size: 15px;
    
  }
  .image-box-3 {
    border: 3px solid #ccc;
    padding: 10px;
    text-align: center;
    max-width: 400px; 
    float: center;
    margin-left: 520px; 
    margin-right: 520px;
    margin-top: 35px;
    margin-bottom: 50px;
  }
  
  
  .image-box-3 img {
    max-width: 100%;
    height: 300px;
  }
  
  .caption3 h2{
    margin-top: 12px;
    font-style: italic;
    color: blueviolet
  }
  .caption3 p{
    color: #bbbbbb;
    margin-top: 10px;
    font-size: 15px;
    
  }
  

.footer {
    margin-top: 100px;
    width: 100%;
    padding: 20px 10%;
    background:gainsboro;
    color: blueviolet;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .footer div {
    text-align: center;
    flex: 1 1 10%;
  }

  .footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
  }
  

  .col-1 a {
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
  }

  
  

  
  
  
  
  